
.DS_Store
.env
.netrc

dist/

examples/*/server
examples/*/server_linux
examples/*/server.exe

examples/*/client
examples/*/client_linux
examples/*/client.exe

tests/test

config.json
config.pool.json